{% extends 'base.html' %}
{% block style %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/formulae" aria-disabled="false">Formulae</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">Materials</a>
          </li>
        </ul>
        
        </div>
    </div>
</nav>
{% endblock %}

{% block body %}
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

            <form action="/login" method="POST" >
              {{ login_form.csrf_token() }}               
                <div class="form-outline mb-4">
                    {{  login_form.email(id="form3Example3", class="form-control form-control-lg", placeholder="Enter valid email")}}
                    <label class="form-label" for="form3Example3">Email address</label>
                </div>  
                
                <div class="form-outline mb-3">
                    {{ login_form.password(id="form3Example4", class="form-control form-control-lg",
                    placeholder="Enter password")}}
                    <label class="form-label" for="form3Example4">Password</label>
                </div>
  
                <div class="d-flex justify-content-between align-items-center">                
                    <div class="form-check mb-0">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                      <label class="form-check-label" for="form2Example3">Remember me</label>    
                    </div>
                    <a href="#!" class="text-body">Forgot password?</a>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                </div>
            </form>

        </div>
      </div>
    </div>
  </section>
{% endblock %}
